---
// First or Third Party Plugins
import { Link } from "astro-link";
import Icon from "astro-icon";
import dayjs from "dayjs";
import advancedFormat from "dayjs/plugin/advancedFormat";
import "dayjs/locale/it";

// Types
import type { Blog, AuthorBlogAttributes } from "../../../interfaces/blog.js";

// Helpers
import Image from "../helpers/images.astro";

dayjs.extend(advancedFormat);
dayjs.locale(import.meta.env.LANG);

const { data, translationStore, isFeatured = false } = Astro.props;

const categoryLangOptions: any = { it: "categoria", es: "categoría" };

let categoryLang: any = categoryLangOptions[import.meta.env.LANG];
---

{
  data.map((blog: Blog | AuthorBlogAttributes) => (
    <div class="blog-wrapper mb-[20px]">
      <div class="blog-card p-0">
        <div class="img-container">
          <figure>
            <Image
              classes="blog-image"
              src={
                (blog as Blog)?.attributes?.images?.data?.attributes?.url ??
                (blog as AuthorBlogAttributes)?.images?.url
              }
              alt={
                (blog as Blog)?.attributes?.title ??
                (blog as AuthorBlogAttributes)?.title
              }
              imageWidth={430}
              imageHeight={380}
            />
          </figure>
          <div class="overlay flex flex-col text-[14px]">
            <div class="blog-author-name">
              <Link
                href={`/author/${(blog as Blog)?.attributes?.author?.data?.attributes?.firstName.toLowerCase() ?? (blog as AuthorBlogAttributes)?.author?.firstName.toLowerCase()}.${(blog as Blog)?.attributes?.author?.data?.attributes?.lastName.toLowerCase() ?? (blog as AuthorBlogAttributes)?.author?.lastName.toLowerCase()}/`}
              >
                {((blog as Blog)?.attributes?.author?.data?.attributes
                  ?.firstName ??
                  (blog as AuthorBlogAttributes)?.author?.firstName) +
                  " " +
                  ((blog as Blog)?.attributes?.author?.data?.attributes
                    ?.lastName ??
                    (blog as AuthorBlogAttributes)?.author?.lastName)}
              </Link>
            </div>
            <div class="flex justify-between items-center">
              <div class="flex items-center">
                <Link
                  href={`/blog/${categoryLang}/${(blog as Blog)?.attributes?.blogCategory?.data?.attributes?.slug}/`}
                >
                  <div class="blog-category text-[10px] mr-2 text-white font-bold rounded-[40px] cursor-pointer">
                    {(blog as Blog)?.attributes?.blogCategory?.data?.attributes
                      ?.blogCategory || "Generale"}
                  </div>
                </Link>
                {(blog as Blog)?.attributes?.minutesRead && (
                  <div>
                    {(blog as Blog)?.attributes?.minutesRead + " mins read"}
                  </div>
                )}
              </div>
              <div>
                {dayjs(
                  (blog as Blog)?.attributes?.createdAt ??
                    (blog as AuthorBlogAttributes)?.createdAt
                ).format("D") + " "}
                {dayjs(
                  (blog as Blog)?.attributes?.createdAt ??
                    (blog as AuthorBlogAttributes)?.createdAt
                ).format("MMM") + ", "}
                {dayjs(
                  (blog as Blog)?.attributes?.createdAt ??
                    (blog as AuthorBlogAttributes)?.createdAt
                ).format("YYYY")}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class:list={[
          "blog-content flex flex-col px-3",
          { "is-featured": isFeatured },
        ]}
      >
        <h4 class="line-clamp-2 mt-3">
          <Link
            href={`/blog/${(blog as Blog)?.attributes?.slug ?? (blog as AuthorBlogAttributes)?.slug}/`}
          >
            {(blog as Blog)?.attributes?.title ??
              (blog as AuthorBlogAttributes)?.title}
          </Link>
        </h4>
        <div class="mt-0">
          <div class="line-clamp-3">
            {<Fragment set:html={(blog as Blog)?.attributes?.content1} /> ?? (
              <Fragment set:html={(blog as AuthorBlogAttributes)?.content1} />
            )}
          </div>
        </div>

        <div
          class:list={[
            "mb-3 mt-5 text-[#01579B]",
            { "!text-secondary": isFeatured },
          ]}
        >
          <Link
            href={`/blog/${(blog as Blog)?.attributes?.slug ?? (blog as AuthorBlogAttributes)?.slug}/`}
          >
            {translationStore?.readMore} &gt;
          </Link>
        </div>
      </div>
    </div>
  ))
}

<!-- <h4>
					<Link href={`/blog/${(blog as Blog)?.attributes?.slug ?? (blog as AuthorBlogAttributes)?.slug}/`}>{(blog as Blog)?.attributes?.title ?? (blog as AuthorBlogAttributes)?.title}</Link>
				</h4>
				<p>{(blog as Blog)?.attributes?.content1 ?? (blog as AuthorBlogAttributes)?.content1}</p>
				<div class="blog-meta flex items-center">
					<div class="author-icon">
						<Icon name="user-fill" height="16px" width="14px" class="fill-body-text" />
					</div>
					<div class="author-title px-1">Scritto da:</div>
					<div class="author-name">
						<Link href={`/author/${(blog as Blog)?.attributes?.author?.data?.attributes?.firstName.toLowerCase() ?? (blog as AuthorBlogAttributes)?.author?.firstName.toLowerCase()}.${(blog as Blog)?.attributes?.author?.data?.attributes?.lastName.toLowerCase() ??  (blog as AuthorBlogAttributes)?.author?.lastName.toLowerCase()}/`}>
							{((blog as Blog)?.attributes?.author?.data?.attributes?.firstName ?? (blog as AuthorBlogAttributes)?.author?.firstName) +" "+ ((blog as Blog)?.attributes?.author?.data?.attributes?.lastName ?? (blog as AuthorBlogAttributes)?.author?.lastName)}
						</Link>
					</div>
				</div> -->

<style lang="postcss">
	.blog-wrapper {
		@apply shadow-[0_0.125rem_0.25rem_rgba(theme('colors.black')_0.075)];
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		
		.blog-card {
			position: relative;
			height: 385px;
			border-radius: 4px;
			overflow: hidden;
	
			figure {
				background: theme('colors.blog-card-figure-bkg');
				height: 385px;
				margin: 0;
				padding: 0;
				overflow: hidden;
	
				:global(.blog-image) {
					display: block;
					width: 100%;
					opacity: 0.9;
					/* transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s; */
				}
			}
	
			.overlay {
				position: absolute; 
				bottom: 0; 
				border-top: 1px solid var(--Effects-blur-fill, rgba(255, 255, 255, 0.36));
				background: var(--Effects-blur-stroke, rgba(255, 255, 255, 0.30));
				backdrop-filter: blur(11px);
				color: #f1f1f1; 
				width: 100%;
				color: #fff;
				padding: 20px;
			}
	
			.blog-category {
				background: linear-gradient(180deg, #3fe6fc 0%, #00bcd4 100%);
				box-shadow: 0px 2px 8px rgba(0, 188, 212, 0.4);
				padding: 1px 6px;
			}
	
			.blog-meta {
				font-size: 14px;
				color: theme('colors.blog-meta');
			}
	
			&:hover {
				box-shadow: 0px 1px 35px 0px theme('colors.blog-card-hover-shadow');
	
				:global(.blog-image) {
					transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
					opacity: 0.7;
					transform: scale(1.1);
				}
	
				.blog-content {
					p {
						height: 80px;
						transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
					}
				}
			}
		}

		.blog-content {
			border-radius: 0px 0px 4px 4px;

			h4 {
				a {
					text-decoration: none;
					color: #000000;
					/* color: theme('colors.blog-content-header-anchor'); */
				}
			}
			&.is-featured {
				h4 {
					a {
						color: theme('colors.white');
					}
				}
				p {
					color: #CED4DA;
				}
			}
		}
	}

</style>
