---
import type { ComponentLink } from "../../../interfaces/common/types.ts"

const {
  text,
  href,
  icon,
  isFilled = true,
  classes,
  ...rest
} = Astro.props as ComponentLink;
---

<a href={href} class:list={["link", classes, { filled: isFilled }]} {...rest}>
  {text}
  <slot />
</a>
