---
const {providers, isFlatData = false} = Astro.props;

import useTransformImage from '../../../lib/hooks/useTransformImage'
import Images from './images.astro';

let items = []
let popUpItems = []
let transformedImages = ''

if (providers.length > 8) {
	items = providers.slice(0, 7)
	popUpItems = providers.slice(7)
	transformedImages = popUpItems
		.map((provider:any) =>
			useTransformImage(
				isFlatData ? provider.images.url : provider?.attributes?.images?.data?.attributes?.url,
				45,
				28,
				isFlatData ? provider.title : provider.attributes?.title
			)
		).join('')
} else {
    items = providers
}
---

<div class="provider-container">
	{items.map((provider:any) =>
		<Images
			src={isFlatData
				? provider?.images?.url
				: provider?.attributes?.images?.data?.attributes?.url}
			classes="provider-images"
			alt={isFlatData ? provider?.title : provider.attributes?.title}
			imageWidth={50}
			imageHeight={35}
		/>
	)}
	{popUpItems.length > 0 &&
		<span
			class="more-providers cursor-pointer"
			data-bs-toggle="tooltip"
			data-bs-html="true"
			data-bs-title={transformedImages}>+{popUpItems.length}</span>
		<div
			id="more-games"
			role="tooltip"
			class="hidden flex flex-wrap -mt-[190px] ml-[30px] text-black opacity-100 bg-grey-100 -mt-0 text-sm z-20 w-fit absolute transition duration-150 ease-in-out shadow-lg p-2 border border-grey-200 rounded"
		>
			{popUpItems.map((provider:any) =>
				<Images
					src={isFlatData
						? provider?.images?.url
						: provider?.attributes?.images?.data?.attributes?.url}
					classes="provider-images"
					alt={isFlatData ? provider?.title : provider.attributes?.title}
					imageWidth={50}
					imageHeight={35}
				/>
			)}
		</div>
	}
</div>

<style lang="scss">
	.provider-container {
		display: flex;
		flex-wrap: wrap;

		:global(.provider-images) {
			border-radius: 4px;
			margin: 3px;
			border: 1px solid var(--bs-providers-img-border);
		}

		.more-providers {
			display: inline-flex;
			font-size: 14px;
			border: 1px solid #475059;
			background: #596775;
			color: white;
			border-radius: 4px;
			width: 50px;
			height: 35px;
			justify-content: center;
			align-items: center;
			margin: 3px;
		}
	}

	:global(.tooltip) {
		:global(img) {
			margin: 5px;
			border: 1px solid var(--bs-providers-img-border);
			border-radius: 4px;
		}
	}
</style>