---
import { Image } from "astro:assets";
import { Icon } from 'astro-icon'
import Search from "../helpers/search.svelte";
import Navigation from "../navigation/navigation.svelte";
import User from "../navigation/user.svelte";

const { mainNavigation, logo } = Astro.props;

---

<nav
  class="mx-auto h-16 flex xl:container relative items-center justify-between p-2"
  aria-label="Global"
>
  <div
    class="absolute left-1/2 -translate-x-2/4 lg:translate-x-0 lg:relative lg:left-auto flex lg:flex-1"
  >
    <a href="/" href="home">
      <span class="sr-only">Giochi Di Slots</span>
      <Image src={logo} height="50" width="120" alt="logo" />
    </a>
  </div>
  <Navigation mainNavigation={mainNavigation} client:load >
    <Icon slot="menu-dropdown" name="angle" class="h-5 w-5 flex-none text-gray-400 fill-navbar-text rotate-180 group-hover:rotate-0" />
    <Icon slot="menu-xmark" name="xmark" class="h-6 w-6 fill-white" />
    <Icon slot="menu-user" name="user-signed-out" height="32px" width="32px" class="fill-sign-in ml-16" />
    <Icon slot="menu-favs" name="heart" height="35px" width="35px" class="fill-unfilled-favs" />
    <Icon slot="user-signed-in" name="user-signed-in" height="32px" width="32px" class="fill-sign-in" />
    <Icon slot="user-signed-out" name="user-signed-out" height="32px" width="32px" class="fill-sign-in" />
  </Navigation>
</nav>
