---
import { Image } from "astro:assets";
import { Icon } from 'astro-icon'
import Search from "../helpers/search.svelte";
import Navigation from "../navigation/navigation.svelte";

const { mainNavigation, logo } = Astro.props;
---

<nav
  class="mx-auto h-16 flex xl:container relative items-center justify-between p-2"
  aria-label="Global"
>
  <div
    class="absolute left-1/2 -translate-x-2/4 lg:translate-x-0 lg:relative lg:left-auto flex lg:flex-1"
  >
    <a href="/" href="home">
      <span class="sr-only">Giochi Di Slots</span>
      <Image src={logo} height="50" width="120" alt="logo" />
    </a>
  </div>
  <Navigation mainNavigation={mainNavigation} client:load >
    <Icon slot="menu-dropdown" name="angle" class="h-5 w-5 flex-none text-gray-400 fill-navbar-text rotate-180 group-hover:rotate-0" />
    <Icon slot="menu-xmark" name="xmark" class="h-6 w-6 fill-white" />
  </Navigation>
  <div class="fav-search z-40 flex ml-auto lg:ml-0 align-items-center">
    <div class="favourites flex pointer pl-5 pr-2 mr-2">
      <button>
        <Icon
          name="heart"
          height="35px"
          width="35px"
          class="fill-unfilled-favs"
        />
      </button>
    </div>
    <button class="mr-1">
      <Icon name="sign-in" height="35px" width="35px" class="fill-sign-in" />
    </button>
    <Search client:load />
  </div>
</nav>
