---
import { Icon } from 'astro-icon'

interface Props {
  legalText: string;
}

const { legalText } = Astro.props;
---

<div class="bg-legal-bkg">
  <div
    class="xl:container flex items-center justify-end text-legal-text h-[35px] py-[5px] text-[10px] p-2"
  >
    {legalText}
    <Icon height="25px" name="logo-timone" class="inline-block m-[2px]" />
    <Icon height="25px" name="logo-adm" class="inline-block m-[2px]" />
    <Icon height="25px" name="plus-18" class="inline-block m-[2px]" />
  </div>
</div>
