---
// Import Images
import Plus18 from '~icons/kensho-icons/plus-18'
import LogoADM from "~icons/kensho-icons/logo-adm"
import LogoTimone from "~icons/kensho-icons/logo-timone"

const { legalText } = Astro.props;
---

<div class="bg-legal-bkg">
  <div
    class="xl:container flex items-center justify-end text-legal-text h-[35px] py-[5px] text-[10px] p-2"
  >
    {legalText}
    <LogoTimone height="25px" width="40px" class="inline-block m-[2px]" />
    <LogoADM height="25px" width="60px" class="inline-block m-[2px]" />
    <Plus18 height="25px" width="25px" class="inline-block m-[2px]"/>
  </div>
</div>
