---
import { SVG } from "splendid-ui/svelte";

interface Props {
  legalText: string;
}

const { legalText } = Astro.props;
---

<div class="bg-legal-bkg">
  <div
    class="xl:container flex items-center justify-end text-legal-text h-[35px] py-[5px] text-[10px] p-2"
  >
    {legalText}
    <SVG height="25px" icon="logo-timone" class="inline-block m-[2px]" />
    <SVG height="25px" icon="logo-adm" class="inline-block m-[2px]" />
    <SVG height="25px" icon="plus-18" class="inline-block m-[2px]" />
  </div>
</div>
