---
import Icon from "astro-icon"

const { legalText } = Astro.props;
---

<div class="bg-legal-bkg">
  <div
    class="xl:container flex items-center justify-end text-legal-text h-[35px] py-[5px] text-[10px] p-2"
  >
    {legalText}
    <Icon name="logo-timone" height="25px" width="40px" class="inline-block m-[2px]" />
    <Icon name="logo-adm" height="25px" width="60px" class="inline-block m-[2px]" />
    <Icon name="plus-18" height="25px" width="40px" class="inline-block m-[2px]" />
  </div>
</div>
