---

import Images from "../helpers/images.astro";
---

<div class="author-wrapper">
	<div class="">
		<div class="mb-5 flex flex-col gap-2">
			<figure class="author-image rounded-lg">
				<Images
					src={}
					imageWidth={120}
					imageHeight={120}
					classes=""
					alt="{firstName} {lastName} photo"
				/>
			</figure>
		</div>
	</div>
</div>