---
import Icon from "astro-icon";
import Link from "../helpers/link.astro";
import Image from "../helpers/images.astro";

const { overview } = Astro.props;
---

<Link href={`${overview?.url}/`} class="btn btn-secondary blog-btn">
  <div class="overview-box">
    <div
      class="relative flex justify-center h-full items-center rounded-lg p-5 text-white z-40 font-bold text-[32px] bold"
    >
      {overview?.title}
      <Icon name="chevron-right" height="25px" />
    </div>
    <div
      class="absolute pointer-events-none h-full left-0 top-0 w-full bg-[linear-gradient(180deg,rgba(47,18,58,0)_0%,rgba(31,18,58,0.6)_37.79%)]"
    >
      <Image
        src={overview?.card_img?.data?.attributes?.url}
        alt={overview?.title}
        imageWidth={315}
        imageHeight={155}
        classes="rounded-lg w-full h-full opacity-50 blur-[1px]"
      />
    </div>
  </div>
</Link>

<style>
  .overview-box {
    @apply relative w-[310px] h-[158px];
  }
</style>
