---
import IntroWithSlide from "../../components/general/introWithSlide.astro";
import { getTranslations } from "../../../utils/api-requests";

const translationStore = await getTranslations();

const { data } = Astro.props;
---

<!-- <script define:vars={{ data }}>
  console.log("Slider Block", data);
</script> -->
<div class="my-10">
  <div class="relative overflow-hidden xl:container px-2 z-20">
    <!-- Flickity HTML init -->
    <div
      class="carousel js-flickity"
      data-flickity-options='{
      "autoPlay":5000, 
      "wrapAround":true, 
      "prevNextButtons":false, 
      "pageDots":true,
      "pauseAutoPlayOnHover": true}'
    >
      {
        data?.introWithSlider.map((data: any, index: number) => (
          <div class="gallery-cell">
            <IntroWithSlide {data} {translationStore} {index} />
          </div>
        ))
      }
    </div>
    <!-- Flickity end -->
  </div>
</div>

<style>
  * {
    box-sizing: border-box;
  }

  body {
    font-family: sans-serif;
  }

  /* prevent vertical scroll bar glitch */
  html {
    overflow-y: scroll;
  }

  .carousel-cell {
    width: 100%;
    height: 200px;
    margin-right: 10px;
    background: transparent !important;
    border-radius: 5px;
    counter-increment: gallery-cell;
  }

  /* cell number */
  .carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  }

  :global(.flickity-page-dots) {
    text-align: left !important;
    width: fit-content;
    bottom: 0px;
  }

  :global(.flickity-page-dots .dot) {
    background: #fff;
  }
</style>
