---
// export const prerender = true;

// Layouts
import MainLayout from "../layouts/MainLayout.astro";

// First and Third Pary Plugins
import Icon from "astro-icon"

// Create Canonical URL
const canonical: string =  `${import.meta.env.PUBLIC_FULL_URL}`;

const seo = {
	pageTitle: "404 Error",
    metaDescription: "404 Error",
    url: canonical
}
---

<MainLayout seoData={seo}>
    <div class="xl:container content-auto px-2 pt-5">
        <div class="flex flex-col items-center justify-center md:flex-row gap-x-8">
            <Icon name="404" width="100%" class="inline-block m-[2px]" fill="#01579B" />
        </div>
    </div>
</MainLayout>